#! /bin/sh

# power users can choose a different devshell target
[[ -f .envrc.local ]] && source_env .envrc.local
DEVSHELL_TARGET=${DEVSHELL_TARGET:-dev}

source_url \
  "https://raw.githubusercontent.com/divnix/std/main/direnv_lib.sh" \
  "sha256-x+yF4TThGiGJ3czEupacCvU8wu/NScuQg1djw9rSDx0="
use std nix //automation/devshells:${DEVSHELL_TARGET}

