#! /bin/sh

# reload when these files change
watch_file devshell/flake.nix
watch_file devshell/flake.lock

# power users can choose a different devshell target
[[ -f .envrc.local ]] && source_env .envrc.local
DEVSHELL_TARGET=${DEVSHELL_TARGET:-dev}

{
  # shell gc root dir
  mkdir -p "$(direnv_layout_dir)"
  eval "$(
    nix print-dev-env \
      ./devshell\#${DEVSHELL_TARGET} \
      --update-input main \
      --no-update-lock-file \
      --no-write-lock-file \
      --profile $(direnv_layout_dir)/flake-profile
  )"
}
